  
###############################################################################
Host github-haygroup
    HostName github.com
    AddKeysToAgent yes
    UseKeychain yes
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_github_ed25519_ispace
## git@github-haygroup:HayGroup/kfone-workflow-orchestration.git
# IdentitiesOnly-This forces SSH to only use the specified key
###############################################################################
Host github-kcodek
    HostName github.com
    UseKeychain yes
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_github_ed25519_kcodek

# ###############################################################################
Host github-krishnakishored
    HostName github.com
    UseKeychain yes
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_github_ed25519_krishnakishored

###############################################################################
Host gitlab-kcodek
    HostName gitlab.com
    UseKeychain yes
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_gitlab_ed25519_kcodek    
###############################################################################
## clone using alias - git clone git@github-personal:kcodek/personal-repo.git    

# Add each private key to the SSH agent and macOS Keychain:
# ssh-add --apple-use-keychain ~/.ssh/id_rsa_account-name